if exists (select * from sysdatabases where name='chapter8')
		drop database chapter8
		
		DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

EXECUTE (N'CREATE DATABASE chapter8
  ON PRIMARY (NAME = N''chapter8'', FILENAME = N''' + @device_directory + N'chapter8.mdf'')
  LOG ON (NAME = N''chapter8_log'',  FILENAME = N''' + @device_directory + N'chapter8.ldf'')')
  
  
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chapter8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chapter8]
GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 12/01/2012 08:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[UserName] [nvarchar](20) NOT NULL,
	[ReegisterDate] [smalldatetime] NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

insert into userinfo values ('Tom',2011-05-01)
insert into userinfo values ('Rose',2011-06-01)